<strong>Olá, {{ student}}</strong>
<p>Sua matricula acaba de ser efetuada na Gympoint com sucesso</p>
<strong>Data de inicio: </strong>{{ start_date}}<br />
<strong>Data de termino: </strong>{{ end_date}}<br />
<strong>Valor: </strong>R${{ price }}<br />
<p>Seja muito bem-vindo ;)</p><br />
